<h1>Edit Your Account Information</h1>
<%= form_for @user do | f | %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Edit" %>
<% end %>
<br>
<h2>Don't have an account?</h2>
<p>Create one <%= link_to "here.", signup_path %></p>