<h3><%= @message %></h3>
<form method= "post" action= <%= deliveryAction(session, the_meal) %>>
    <%= user_or_guest_meal_id(session).html_safe %> 
    <%= user_delivery_address_field(session).html_safe %>
    <p>----------------------------------------------------</p>
    <%= the_new_meal_form(the_meal).html_safe %>
    <p>----------------------------------------------------</p>
    <p>Proceed to Payment <input type= "submit" value= "Proceed">
</form>

<% if !(isGuest(session)) %>
    <p> Not sure yet? Click <%= link_to 'here ', user_path(current_user(session)) %> to return to your homepage  </p>
<% end %>
