<h1>Edit The Information</h1>
<%= form_for @user do | f | %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <br>
    <%= f.label :credit %>
    <%= f.text_field :credit %>
    <br> 
    <%= f.submit "Edit" %>
<% end %>
<br>

<br>
<br>
<br>
<%= link_to "Return", user_path(@user) %>
