<% @users.each do | sel | %>
    ---------------------------
    <br>
    <% if sel.admin %>
        Admin Account
    <% end %>
    <h2><%= sel.name %></h2>
    <p>address: <%= sel.address %></p>
    <p>credit: <%= sel.credit %></p>
    <%= link_to 'Edit', edit_admin_user_path(sel) %>
    <%= link_to "Delete", delete_user_path(sel.id) %>
    <p>-------------------------</p>
<% end %>

<%= link_to "Return Home", user_path(current_user(session)) %>